<h2> Hello {{ name }},</h2>

<p>It looks like you requested a password recovey, if you want to precced click in the link below: </p>

<p>
    <a href="{{ resetPasswordUrl }}" target="_blank">Recuperar Senha

    </a>
</p>

<p>
    If you did not make the request, please discard the email
</p>

<p>
    <strong>Rocketseat Team</strong>
</p>